<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scouting21">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scouting21">
        <activity
            android:name=".nuevoplayer"
            android:parentActivityName=".UserActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserActivity"/>
    </activity>
        <activity
            android:name=".BBDDPlayers"
            android:parentActivityName=".UserActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserActivity"/>
        </activity>

        <activity
            android:name=".figma"
            android:exported="false" />
        <activity
            android:name=".bifurcacion"
            android:exported="false" />
        <activity
            android:name=".passwordPerdido"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".Sing_Up_Activity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".portada"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>